body {
    background: linear-gradient(25deg, #191919 4px, transparent 5px) 0 4px, linear-gradient(207deg, #191919 4px, transparent 5px) 9px 0px, linear-gradient(26deg, #212020 4px, transparent 4px) 0px 9px, linear-gradient(206deg, #212020 4px, transparent 4px) 9px 4px, linear-gradient(89deg, #171616 9px, transparent 5px), linear-gradient(#171616 25%, #171616 25%, #171616 49.9%, transparent 49.9%, transparent 69%, #2b2a2a 69%, #2b2a2a);
    background-color: #0e0e0e;
    background-size: 19px 19px;
}
h1 {
    margin: 0;
}

p {
    font-size: 45px;
}
.content {
    margin: auto;
    width: 900px;
    background-color: white;
    padding: 20px;
}

a.button {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

    a.button:hover {
        background: rgba(255,255,255,.2);
    }

    a.button:active {
        background: white;
    }

.buttonbar {
    background: rgba(255,255,255,.2);
    position: relative;
    left: -20px;
}
/*.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/
.navigationbar {
    background-color: #f3f3f3;
}
ul.downmenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #212020;
    margin: initial;
    width: 940px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    margin: auto;
    width: 940px;
}
ul.menu li {
    float: left;
}
ul.menu li a {
    display: block;
    padding: 14px 16px;
    color: #666;
    text-align: center;
    text-decoration: none; /**/
}
ul.menu li a:hover:not(.active) {
    background-color: #ddd;
}

ul.menu li a.active {
    color: white;
    background-color: #ff6a00;
}




